.chatbot {
    border-radius: 5px;
    width: 100%;
    font-family: Arial, sans-serif;
}

.chat-window {
    height: 465px;
    max-height: 465px;
    overflow-y: auto;
    margin-bottom: 10px;
    border: 1px solid #fcffd9;
    padding: 5px;
    border-radius: 5px;
    background-color: #fdffe4;
}

.chat-message {
    display: flex;
    margin: 8px;

}

.message.user {
    white-space: pre-wrap;
    margin-left: auto;
    text-align: right;
    background-color: #dcf8c6;
    max-width: 65%;
    padding: 5px 10px;
    border-radius: 10px;
    display: block;
    font-size: small;
    word-wrap: break-word; /* 긴 단어나 문장이 줄바꿈 되도록 함 */
    font-weight: 500;
}

.message.bot {
    white-space: pre-wrap;
    margin-right: auto;
    text-align: left;
    background-color: #ffe603;
    max-width: 65%;
    padding: 5px 10px;
    border-radius: 10px;
    display: block;
    font-size: small;
    word-wrap: break-word; /* 긴 단어나 문장이 줄바꿈 되도록 함 */
    font-weight: 500;
}

.message-input {
    display: flex;
    align-items: center;
    border-top: 2px solid #fff6a0;
    padding-top: 10px;
}

input {
    flex: 1;
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #879c78;
}

button {
    width: 60px;
    padding: 5px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    font-weight: bold;
}

button:hover {
    background-color: #0056b3;
}
